body {
  background: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
}

#back{
  width: 150px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
}

#back:hover {
  background-color:grey;
  transition: 0.7s;
}

.testPage {
  width: 1920px;
  height: 1080px;
  display: flex;
  border: 1px solid black;
  margin: auto;
}


.addNew{
  width: 960px;
  height: 50px;
}

.test-box {
  height: 960px;
  border: 1px solid #F1F3F4;
  overflow: hidden;
  margin: 0px;
  position: relative;
}

#move_Btn{
  width: 300px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
}

#move_Btn:hover {
  background-color:grey;
  transition: 0.7s;
}

#zoom_In{
  margin-left: 25px;
  width: 300px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
}

#zoom_In:hover {
  background-color:grey;
  transition: 0.7s;
}

#zoom_Out{
  width: 300px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
}

#zoom_Out:hover {
  background-color:grey;
  transition: 0.7s;
}

#addNew_Btn{
  width: 960px;
  height: 50px;
  font-size:20px;
  margin-top: 10px;
  border-radius: 200px;
}

#addNew_Btn:hover {
  background-color:grey;
  transition: 0.7s;
}

.test-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500;
}

.answer{
  width: 960px;
  height: 892px;
  text-align: center;
  font-size: 20px;
}

#confidence_type {
  margin-left: 28px;
  width: 900px;
  height: 120px;
  text-align: center;
  visibility: hidden;
  border-style: dotted;
  background-color:rgb(150, 146, 146);
  border-radius: 150px;
}

.submit {
  width: 960px;
  height: 50px;
}

#submit_Btn {
  width: 960px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
  margin-top: 5px;
}

#submit_Btn:hover {
  background-color:grey;
  transition: 0.7s;
}


#types{
  margin-left: 50px;
  font-size:20px;
  border-radius: 200px;
}
#confirm_Btn {
  margin-left: 50px;
  width: 100px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
}

#confirm_Btn:hover {
  background-color:grey;
  transition: 0.2s;
}

.slider {
  margin-left: 50px;
  width: 300px;
  display: inline-block;
}

#conf_value{
  display: inline-block;
}

.div_ans{
  width: 960px;
  height: 40px;
  margin-top: 10px;
}

.div_text{
  width: 800px;
  height: 40px;
  background-color: white;
  margin-top: 10px;
  display: inline-block;
  border-radius: 200px;
}

.change_btn{
  width: 80px;
  height: 40px;
  margin-top: 10px;
  float: right;
  font-size:17px;
  border-radius: 200px;
}

.change_btn:hover {
  background-color:grey;
  transition: 0.7s;
}


.del_Btn{
  width: 80px;
  height: 40px;
  margin-top: 10px;
  float: right;
  font-size:17px;
  border-radius: 200px;
}

.del_Btn:hover {
  background-color:grey;
  transition: 0.7s;
}
