body {
  background: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  
}

#timeLeft {
  visibility: hidden;
  color: red;
  font-size: 30px;
  margin-top: 20px;
  text-align : center;
}

.testPage {
  width: 2048px;
  display: flex;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #F1F3F4;
  
}

.addNew{
  width: 1024px;
  height: 50px;
}

.test-box {
  height: 1024px;
  border: 1px solid #00aafe;
  overflow: hidden;
  margin: 0px;
  position: relative;
}

#move_Btn{
  width: 300px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
}

#move_Btn:hover {
  background-color:grey;
  transition: 0.3s;
}

.zoom{
  text-align: center;
}

#zoom_In{
  width: 300px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
}

#zoom_In:hover {
  background-color:grey;
  transition: 0.3s;
}

#zoom_Out{
  width: 300px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
}

#zoom_Out:hover {
  background-color:grey;
  transition: 0.3s;
}

#undo_Btn{
  width: 300px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
}

#undo_Btn:hover {
  background-color:grey;
  transition: 0.3s;
}

#addNew_Btn{
  width: 1024px;
  height: 50px;
  font-size:20px;
  margin-top: 10px;
  border-radius: 200px;
}

#addNew_Btn:hover {
  background-color:grey;
  transition: 0.3s;
}

.test-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
}

.answer{
  width: 1024px;
  height: 892px;
  text-align: center;
  font-size: 20px;
  overflow-y:auto;
}

#confidence_type {
  width: 900px;
  height: 120px;
  text-align: center;
  visibility: hidden;
  border-style: dotted;
  background-color:rgb(150, 146, 146);
  border-radius: 150px;
}

.submit {
  width: 1024px;
  height: 50px;
}

#submit_Btn {
  width: 1024px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
  margin-top: 5px;
}

#submit_Btn:hover {
  background-color:grey;
  transition: 0.3s;
}

#confidence{
  margin-left: 50px;
  font-size:20px;
  border-radius: 200px;
}

#types{
  margin-left: 50px;
  font-size:20px;
  border-radius: 200px;
}

#confirm_Btn {
  margin-left: 50px;
  width: 100px;
  height: 50px;
  font-size:20px;
  border-radius: 200px;
}

#confirm_Btn:hover {
  background-color:grey;
  transition: 0.3s;
}

.slider {
  margin-left: 50px;
  width: 300px;
  display: inline-block;
}

#conf_value{
  display: inline-block;
}

.div_ans{
  width: 1024px;
  height: 60px;
  margin-top: 10px;
}

.div_text{
  width: 800px;
  height: 60px;
  background-color: white;
  margin-top: 10px;
  display: inline-block;
  border-radius: 200px;
}

.change_btn{
  width: 80px;
  height: 60px;
  margin-top: 10px;
  float: right;
  font-size:17px;
  border-radius: 200px;
}

.change_btn:hover {
  background-color:grey;
  transition: 0.3s;
}


.del_Btn{
  width: 80px;
  height: 60px;
  margin-top: 10px;
  float: right;
  font-size:17px;
  border-radius: 200px;
}

.del_Btn:hover {
  background-color:grey;
  transition: 0.3s;
}

#confidence_checkbox{
  text-align: center;
  display: flex;
  flex-direction: row;
  border: 2px dashed black;
  background-color:rgb(150, 146, 146);
  border-radius: 150px;
  height: 70px;
  font-size: 20px;
}

#checkbox{
  margin-left: 10px;
}

#confidence1{
  margin-top: 5px;
  font-size: 20px;
  border-radius: 150px;
}

#confidence2{
  margin-top: 5px;
  font-size: 20px;
  border-radius: 150px;
}

#confidence3{
  margin-top: 5px;
  font-size: 20px;
  border-radius: 150px;
}

#confidence4{
  margin-top: 5px;
  font-size: 20px;
  border-radius: 150px;
}
